.git
*.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.credentials.json
venv
rsa_*
test.py
generate_scores.py
generation_tests.py
old_main.py
cosmosproject